body {
  margin: 0;
  padding: 0;
  background-color: rgb(222, 173, 110);
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  background-color: rgb(222, 173, 110);
  width: 100%;
  height: 15%;
  min-height: 110px;
  border-bottom: 4px solid black;
}

h1 {
  display: inline;
  margin-top: 10px;
  font-size: 3em;
  color: black;
}

#main-body {
  background-color: #e2dbc8;
}

#equipment-container {
  display: flex;
  text-align: center;
  justify-content: flex-center;
  margin: 0;
  width: 100%;
  height: 60%;
  background-color: burlywood;
  border-bottom: 4px solid black;
}

.attack-stats,
.defence-stats,
.other-bonuses-stats,
.set-unique-stats {
  display: flex;
  flex-flow: column wrap;
}

.attack-stats {
  font-size: 1.2em;
  width: 12%;
  background-color: burlywood;
}

.defence-stats {
  font-size: 1.2em;
  width: 12%;
  background-color: rgb(222, 173, 110);
}

.other-bonuses-stats {
  font-size: 1.2em;
  width: 12%;
  background-color: burlywood;
}

.set-unique-stats {
  font-size: 1.2em;
  width: 12%;
  background-color: rgb(222, 173, 110);
}

#equipment {
  display: flex;
  position: relative;
  width: 30%;
  padding: 20px 0;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(222, 173, 110);
}

#stats-display {
  display: flex;
  width: 40%;
}

.equip-background-img {
  display: inline-flexbox;
  width: 90px;
  height: 90px;
  align-content: center;
  margin: 1px;
  padding: 2px;
}

.btn {
  align-self: center;
  font-size: 1em;
  height: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 6px;
}

.btn:hover {
  background-color: rgb(131, 131, 131);
}

#item-search {
  display: none;
  background-color: whitesmoke;
}

#area-under-search {
  background-color: rgb(222, 173, 110);
}

#item-list {
  display: none;
  overflow-y: scroll;
  max-height: 300px;
}

#head-img {
  background-image: url("./images/head.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#body-img {
  background-image: url("./images/body.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#legs-img {
  background-image: url("./images/legs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#feet-img {
  background-image: url("./images/feet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#weapons-img {
  background-image: url("./images/weapons.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#shields-img {
  background-image: url("./images/shields.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#hands-img {
  background-image: url("./images/hands.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#cape-img {
  background-image: url("./images/cape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#neck-img {
  background-image: url("./images/neck.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#ring-img {
  background-image: url("./images/ring.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#ammo-img {
  background-image: url("./images/ammo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 173, 110);
}

.git-images {
  width: auto;
}

#git-info-footer {
  display: flex;
  flex-direction: column;
  width: 10%;
  text-align: center;
  font-size: 1.7rem;
  text-decoration: underline;
}

#main-git-repo {
  height: auto;
  width: 80px;
  padding: 0 5px;
  align-self: center;
}

#ge-api-repo {
  height: auto;
  width: 80px;
  border-radius: 40%;
  padding: 0 5px;
  align-self: center;
}

.icon {
  width: 85px;
  height: 85px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 700px) {
  #equipment-container {
    flex-direction: column;
  }

  .stats,
  #equipment {
    width: 100%;
    padding-bottom: 10px;
  }
}
